@import url('https://fonts.googleapis.com/css?family=Cookie|Montserrat|Nunito&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

.padding {
    padding-bottom: 2em;
}

.header {
    padding-top: 1em;
    font-family: 'Montserrat', sans-serif;
}

.content {
    padding-left: 11.5%;
    padding-right: 11.5%;
}

.conversation {
    padding-left: 20%;
    padding-right: 20%;
}

.aqua {
    position: relative;
    padding: 1%;
    background: #800000;
    color: bisque;
	border-radius: .4em;
}

.aqua:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #800000;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}
.aqua a {
    color: ghostwhite;
}

.user {
    position: relative;
    padding: 1%;
	background: #ffa448;
    border-radius: .4em;
    color: black;
}

.user:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #ffa448;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

#submit {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 2em;
}

#submit:hover {
    cursor: pointer;
}
